
section {
	border: 1px solid green;
	margin: 20px 0;
}

#map_partners_region,
#tab_growth {
	height: 300px;
}

#filter_year_map_label {
	height: 50px;
}
#tab_growth {
	overflow-y:scroll;
}

.fm-box-legend {
	opacity: 0.8
}