body {
	overflow-y:scroll;
}
section {
	border: 1px solid blue;
	margin: 20px 0;
}

#map_partners_region,
#tab_growth,
#filter_country{
	height: 300px;
}

#filter_year_map_label {
	height: 50px;
	font-weight: bold;
}
#tab_growth {
	overflow-y:scroll;
}

.fm-box-legend {
	opacity: 0.8;
	min-width:104px;
	min-height: 182px;
}
#filter_country{
	overflow-y: auto;
}