body {
	overflow-y:scroll;
}
section {
	border: 1px solid blue;
	margin: 20px 0;
}

#map_partners_region,
#tab_growth,
#filter_country{
	height: 320px;
}
#filter_year_map_label,
#filter_year_map {
	margin-top: 20px;
	margin-bottom: 20px;
}
#tab_growth {
	overflow-y:scroll;
}

.fm-box-legend {
	opacity: 0.8;
	min-width:104px;
	min-height: 182px;
}
.overview img {
	max-width: 100px;
	max-height: 100px;
}