<div class="container">
    <div class='row'>
        <div class='col-xs-3 col-sm-2 col-md-2 col-lg-2'>
            <h1 style="font-size:16px;">Indicator</h1>
            <select style="width:100%;" data-role="indicator"></select>
            <h1 style="font-size:16px;">Year</h1>
            <select style="width:100%;" data-role="year">
                <option value="2015">2015</option>
                <option value="2010">2010</option>
                <option value="2005">2005</option>
                <option value="2000">2000</option>
                <!--<option value="1995">1995</option>-->
                <option value="1990">1990</option>
            </select>
            <h1 style="font-size:16px;">Incomes</h1>
            <select style="width:100%;" data-role="incomes">
                <option value="">All Incomes</option>
                <option value="L">Low</option>
                <option value="LM">Lower Medium</option>
                <option value="UM">Upper Medium</option>
                <option value="H">High</option>
            </select>
            <h1 style="font-size:16px;">Domain</h1>
            <select style="width:100%;" data-role="domain">
                <option value="">All Domains</option>
                <option value="Bor">Boreal</option>
                <option value="Pol">Polar</option>
                <option value="SubTrp">Subtropical</option>
                <option value="Trp">Tropical</option>
                <option value="Temp">Temperate</option>
            </select>
        </div>
        <div class='col-xs-9 col-sm-10 col-md-10 col-lg-10'>
            <h5><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Please Select on a country on the map to show the indicator timeseries</h5>
            <div data-role="map" style="height: 450px; overflow: hidden;"></div>
        </div>
    </div>

    <div class='row'>
        <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
            <div data-role="chart"></div>
        </div>
    </div>
</div>